openapi: 3.1.0
info:
  title: Go2Asia Auth Service API
  version: 0.1.0
  description: API для авторизации и управления пользователями

servers:
  - url: https://auth.go2asia.space/v1
    description: Production
  - url: https://auth-staging.go2asia.space/v1
    description: Staging

paths:
  /profile:
    get:
      summary: Получить профиль текущего пользователя
      operationId: getProfile
      tags:
        - Profile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Профиль пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  schemas:
    UserProfile:
      type: object
      required:
        - id
        - email
      properties:
        id:
          type: string
          description: Уникальный идентификатор пользователя
        email:
          type: string
          format: email
        name:
          type: string
        avatar:
          type: string
          format: uri
        role:
          type: string
          enum:
            - spacer
            - vip
            - pro
        createdAt:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - traceId
          properties:
            code:
              type: string
            message:
              type: string
            traceId:
              type: string
              format: uuid

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    Unauthorized:
      description: Требуется авторизация
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: UNAUTHORIZED
              message: Authentication required
              traceId: 123e4567-e89b-12d3-a456-426614174000

    Forbidden:
      description: Доступ запрещён
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: FORBIDDEN
              message: Access denied
              traceId: 123e4567-e89b-12d3-a456-426614174000

    InternalError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
