openapi: 3.1.0
info:
  title: Go2Asia Referral Service API
  version: 0.1.0
  description: API для работы с реферальной программой

servers:
  - url: https://connect.go2asia.space/v1
    description: Production
  - url: https://connect-staging.go2asia.space/v1
    description: Staging

paths:
  /tree:
    get:
      summary: Получить дерево рефералов
      operationId: getReferralTree
      tags:
        - Referral
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Дерево рефералов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferralTree'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  schemas:
    ReferralTree:
      type: object
      properties:
        userId:
          type: string
        referrals:
          type: array
          items:
            type: object
            properties:
              userId:
                type: string
              level:
                type: number
                enum: [1, 2]

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - traceId
          properties:
            code:
              type: string
            message:
              type: string
            traceId:
              type: string
              format: uuid

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    Unauthorized:
      description: Требуется авторизация
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
