openapi: 3.1.0
info:
  title: Go2Asia Token Service API
  version: 0.1.0
  description: API для работы с Points (off-chain токенами)

servers:
  - url: https://token.go2asia.space/v1
    description: Production
  - url: https://token-staging.go2asia.space/v1
    description: Staging

paths:
  /balance:
    get:
      summary: Получить баланс Points
      operationId: getBalance
      tags:
        - Balance
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Баланс пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  schemas:
    Balance:
      type: object
      required:
        - userId
        - points
      properties:
        userId:
          type: string
        points:
          type: number
          description: Количество Points
        updatedAt:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - traceId
          properties:
            code:
              type: string
            message:
              type: string
            traceId:
              type: string
              format: uuid

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    Unauthorized:
      description: Требуется авторизация
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
